
<div style="width:40%; margin: 0px auto" >
    <h1 style="text-align: center;">Update Password</h1>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="newpassword"><b>New Password</b></label>
          <input type="password" class="form-control form-control-lg" name="newpassword" placeholder="Enter New Password"
           [(ngModel)]="form.newpassword"
            required
            #newpassword="ngModel"
          />
          <div class="alert alert-danger"  role="alert" *ngIf="newpassword.errors && f.submitted">
            New Password is required!
          </div>
        </div>
        <div class="form-group">
          <label for="confirmpassword"><b> Password</b></label>
          <input type="password" class="form-control form-control-lg" name="confirmpassword" placeholder="Enter Confirm Password"
          [(ngModel)]="form.confirmpassword" required #confirmpassword="ngModel"/>
  
          <div class="alert alert-danger" role="alert" *ngIf="confirmpassword.errors && f.submitted" >
            <div *ngIf="confirmpassword.errors.required">Confirm Password Name is required!</div>
          </div>
        </div>        
     <span *ngIf="isupdated" style="background-color: rgb(111, 223, 111);" >{{message}}</span>
     <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-primary btn-block" [routerLink]="['/admin']">Back</button>
          </div>
        </div>
      </form>

  </div>
  
  